.visualizer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.visualizer-container-top {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-left: 50px;
}

.visualizer-filter-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sort-coverage-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vega-embed > svg {
    width: 100%;
    height: 100%;
  }